<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Materalize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- FontAwesomeIcons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- GoogleFont -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Concert+One|Germania=One|Roboto" rel="stylesheet">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS Stylesheet -->
  <link rel="stylesheet" type="text/css" href="./styles/styles.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>

  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>