    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Sithub</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Sign In</a></li>
                <li>|</li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <!-- Main Page -->
        <div class="container">
            <div class="row">
                <div class="col s3">

                </div>
                <div id="content" class="col s6">
                    <!-- icon -->
                    <a id="brand-icon" href="#"><i class="fas fa-baby-carriage fa-5x"></i></a>

                    <content>

                        <h1>Sithub</h1>
                        <div class="input-field col s12">
                    <select multiple class="selectedStuff">
                        <option value="" disabled selected>Choose your days</option>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                    </select>
                    <label>Pick all the days you want to work.</label>
                    <button id="sub">submit</button>

                </div> 

                    </content>

                </div>
                <div class="col s3">

                </div>

            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5>Footer Content</h5>
                        <p id="footer-p">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5>Links</h5>
                        <ul>
                            <li><a href="#!">Link 1</a></li>
                            <li><a href="#!">Link 2</a></li>
                            <li><a href="#!">Link 3</a></li>
                            <li><a href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text
                    <a href="#!">More Links</a>
                </div>
            </div>
        </footer>

    </main>

