<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Sithub</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Sign In</a></li>
      <li>|</li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </div>
</nav>
<main>
  <!-- Main Page -->
  <div class="container">
    <div class="row">
      <div class="col s3">

      </div>
      <div id="content" class="col s6">
        <!-- icon -->
        <a id="brand-icon" href="#"><i class="fas fa-baby-carriage fa-5x"></i></a>

        <content>

          <h1>Sithub</h1>

        </content>

      </div>
      <div class="col s3">

      </div>

    </div>
  </div>
  </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal"
    style="background: rgba(115, 162, 165, 0.568); border: 4px solid rgb(81, 116, 121); height: 500px; padding-top: 45px;">
    <div class="modal-content" style="">
      <h4 id="modal-header" style="color: rgb(255, 199, 45); text-align: center; letter-spacing: 4px; font-size: 50px;">Welcome to SitHub
      </h4>

      <p id="p-modal"
        style="font-size: 25px; font-weight: normal; text-align: center; color: rgb(233, 233, 233); letter-spacing: 3px;">
        Are you looking for a babysitter or wants to be
        childcare giver?</p>
      <!-- <p>A bunch of text</p> -->

      <div style="text-align: center;" id="form1">
        <button onclick="window.location.href = '/parent'"
          style="width: 150px; height: 60px; border-radius: 20px; margin: 5px; font-weight: bold; font-size: 18px; cursor: pointer;">Find
          a
          Sitter!</button>
      </div>

      <div style="text-align: center;" id="form2">
        <button onclick="window.location.href = '/sitter'"
          style="width: 150px; height: 60px; border-radius: 20px; background: orange; color: white; font-weight: bold; font-size: 18px; cursor: pointer;">Become
          a
          Sitter!</button>
      </div>

      <br>
      <a id="cancel-modal" style="position: absolute; top: 5px; right: 0px;" href=""
        class="modal-close waves-effect waves-green btn-flat"><i class="fas fa-times"></i></a>

    </div>
  </div>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>About Us</h5>
          <p id="footer-p">Sithub is a online service that will allow parents and potential
            caregivers/babysitters to find and connect with one another. Providing job opportunities for people looking
            for a part/full-time jobs and parents can find the most well-suited sitters for their kids. </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Links</h5>
          <ul>
            <li><a href="https://www.facebook.com/">FaceBook</a></li>
            <li><a href="https://www.snapchat.com/">Snapchat</a></li>
            <li><a href="https://www.twitter.com/">Twitter</a></li>
            <li><a href="https://ww.instagram.com/">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Copyright
        <a href="#!">Learn More</a>
      </div>
    </div>
  </footer>

</main>


</main>