<div class="container">
    <div class="row">
        <div class="col s3">

        </div>
        <div id="content" class="col s6">
            <content>
                <h3 class="center">Parent Form</h3>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate" id="firstName">
                            <label id="form-label" for="icon_prefix">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate" id="lastName">
                            <label id="form-label" for="icon_prefix" id="lastName">Last Name</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">email</i>
                                <input id="email" type="email" class="validate">
                                <label id="form-label" for="email">Email</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">folder_special</i>
                                <input id="icon_password" type="password" class="validate">
                                <label id="form-label" for="icon_password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i id="camicon" class="material-icons prefix">add_a_photo</i>
                                        <textarea id="textarea1" class="materialize-textarea" id="pic"></textarea>
                                        <label id="photo-label" for="textarea1">Photo Link</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">more</i>
                                <input id="zipCode" type="text" class="validate">
                                <label id="form-label" for="icon_prefix">Enter Your Zip Code</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">child_care</i>
                                <input id="numKids" type="text" class="validate">
                                <label id="form-label" for="numKids">How many children do you have?</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <p><i class="material-icons prefix">pets</i>Do you have any pets in the home?
                            <label>
                                <input type="checkbox" class="filled-in boxNo" />
                                <span class="textYes">Yes</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in boxno" />
                                <span class="textNo">No</span>
                            </label>
                        </p>
                    </div>
                    <br>
                    <div class="row">
                        <p><i class="material-icons prefix">directions_car</i>Are you able to provide
                            transportation?
                            <label>
                                <input type="checkbox" class="filled-in boxNo" />
                                <span class="textYes">Yes</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in boxno" />
                                <span class="textNo">No</span>
                            </label>
                        </p>
                    </div>
                </form>

                <div class="input-field col s12">
                    <i class="material-icons prefix">comment</i>
                    <textarea id="textarea1" class="materialize-textarea" id="comments"></textarea>
                    <label id="comment-sec" for="textarea1">Add a comment </label>
                </div>
                </form>
                <img src="./assets/img/robert-collins-333411-unsplash.jpg" id="kImg" alt=""
                    class="responsive-img z-depth-5" alt="">
                <!-- SUBMIT FORM-->
                <button id="parent-submit">Find a Sitter!</button>
            </content>
        </div>
        <div class="col s3">

        </div>


    </div>
</div>