<div class="container">
    <div class="row">
        <div class="col s3">

        </div>
        <div id="content" class="col s6">
            <content>
                <form action="/api/sitters" method="GET">
                    <h3 class="center">Parent Form</h3>
                    <div class="row">
                        <div class="col s6">
                            <label for="">First Name</label>
                            <input type="text">
                            <label for="">Email</label>
                            <input type="text">
                        </div>
                        <div class="col s6">
                            <label for="">Last Name</label>
                            <input type="text">
                            <label for="">Zip Code</label>
                            <input id="zipCode" type="text" name="zipCode">
                        </div>
                    </div>
                    <div id="checkbox-label" class="row">
                        <p><i class="material-icons prefix">pets</i>Do you have any pets in the home?
                            <label>
                                <input id="petsYes" type="checkbox" class="filled-in boxNo" />
                                <span class="textYes">Yes</span>
                            </label>
                            <label>
                                <input id="petsNo" type="checkbox" class="filled-in boxno" />
                                <span class="textNo">No</span>
                            </label>
                        </p>
                    </div>
                    <br>
                    <div id="checkbox-label" class="row">
                        <p><i class="material-icons prefix">directions_car</i>Are you able to provide
                            transportation?
                            <label>
                                <input id="carYes" type="checkbox" class="filled-in boxNo" />
                                <span class="textYes">Yes</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in boxno" />
                                <span class="textNo">No</span>
                            </label>
                        </p>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">comment</i>
                            <textarea id="textarea1" class="materialize-textarea" id="comments"></textarea>
                            <label id="comment-sec" for="textarea1">Add a comment </label>
                        </div>
                    </div>
                    <div class="row">
                        <img src="./assets/img/robert-collins-333411-unsplash.jpg" id="kImg" alt=""
                            class="responsive-img z-depth-5" alt="">
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select class="selectedStuff" id="dayparent" name="daySelected">
                                <option value="" disabled selected>Which Day Do You Need A Sitter?</option>
                                <option value="d1">Monday</option>
                                <option value="d2">Tuesday</option>
                                <option value="d3">Wednesday</option>
                                <option value="d4">Thursday</option>
                                <option value="d5">Friday</option>
                                <option value="d6">Saturday</option>
                                <option value="d7">Sunday</option>
                            </select>
                        </div>
                    </div>
                    <!-- SUBMIT FORM-->
                    <button class="btn waves-effect waves-light" id="parent-submit">Find a Sitter!<i
                            class="material-icons right">zoom_in</i></button>
                </form>
            </content>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>