<div class="container">
    <div class="row">
        {{!-- <div class="col s3">

        </div> --}}
        <div id="content" class="col s12" style="min-height: 90vh">
            <content>
                <form action="/api/sitters" method="GET">
                    <h3 class="center">Parent Form</h3>
                    <div class="row">
                        <div class="col s12 l6">
                            <label class="font" for="">First Name</label>
                            <input type="text">
                            <label class="font" for="">Email</label>
                            <input type="text">
                        </div>
                        <div class="col s12 l6">
                            <label class="font" for="">Last Name</label>
                            <input type="text">
                            <label class="font" for="">Zip Code</label>
                            <input id="zipCode" type="text" name="zipCode">
                        </div>
                    </div>
                    <div id="checkbox-label" class="row">
                        <p class="font"><i style="margin-right: 10px;" class="material-icons prefix ">pets</i>Do you have any pets in
                            the home?
                            <label>
                                <input id="petsYes" type="checkbox" class="filled-in boxNo" />
                                <span class="textYes font">Yes</span>
                            </label>
                            <label>
                                <input id="petsNo" type="checkbox" class="filled-in boxno" />
                                <span class="textNovfont">No</span>
                            </label>
                        </p>
                    </div>
                    <br>
                    <div id="checkbox-label" class="row">
                        <p class="font" ><i style="margin-right: 10px;" class="material-icons prefix">directions_car</i>Are you able
                            to provide
                            transportation?
                            <label>
                                <input id="carYes" type="checkbox" class="filled-in boxNo" />
                                <span class="textYes font">Yes</span>
                            </label>
                            <label>
                                <input type="checkbox" class="filled-in boxno" />
                                <span class="textNo font">No</span>
                            </label>
                        </p>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i style="margin-top: 40px;" class="material-icons prefix">comment</i>
                            <textarea style="margin-top: 40px;" id="textarea1" class="materialize-textarea"
                                id="comments"></textarea>
                            <label style="margin-top: 40px;" id="comment-sec" class="font" for="textarea1">Add a comment </label>
                        </div>
                    </div>
                    <div class="row">
                        <img src="./assets/img/robert-collins-333411-unsplash.jpg" id="kImg" alt=""
                            class="responsive-img z-depth-5" alt="">
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select class="selectedStuff" id="dayparent" name="daySelected">
                                <option class="font" value="" disabled selected>Which Day Do You Need A Sitter?</option>
                                <option value="1">Monday</option>
                                <option value="2">Tuesday</option>
                                <option value="3">Wednesday</option>
                                <option value="4">Thursday</option>
                                <option value="5">Friday</option>
                                <option value="6">Saturday</option>
                                <option value="7">Sunday</option>
                            </select>
                        </div>
                    </div>
                    <!-- SUBMIT FORM-->
                    <div class="center-align">
                        <button class="btn waves-effect waves-light font" id="parent-submit" style="margin-top: 160px;">Find
                            a Sitter!<i class="material-icons right">zoom_in</i></button>
                    </div>
                </form>
            </content>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>