<!--  Sitter Results -->

<div class="container">
    <div class="row">
        <div class="col s3">

        </div>
        <div id="content" class="col s6">
            <content>
                <h3>Sitters</h3>
                <ul class="collection">
                    {{#each sitter}}
                    {{/each}}
                </ul>
            </content>
        </div>
        <div class="col s3">

        </div>

    </div>
</div>