<!-- Babysitter's Form -->
<div class="container">
    <div class="row">
        <div class="col s3">

        </div>
        <div id="content" class="col s6">
            <content>
                <h3 class="center">Babysitter's Form</h3>
                <form class="col s12">
                    <div class="row">
                        <div class="row">
                            <div class="col s6">
                                <label for="">First Name</label>
                                <input id="firstNameSitter" type="text">
                                <label for="">Email</label>
                                <input id="emailSitter" type="text">
                            </div>
                            <div class="col s6">
                                <label for="">Last Name</label>
                                <input id="lastNameSitter" type="text" name="lastName">
                                <label for="">Zip Code</label>
                                <input id="zipCodeSitter" type="text">
                            </div>
                            <div class="row">
                                <div>
                                    <label for="">Create a password</label>
                                    <input id="passwordSitter" type="text">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div id="checkbox-label" class="row">
                            <p><i class="material-icons prefix">local_hospital</i>Do you have your CPR
                                certification?
                                <label>
                                    <input type="checkbox" id="yesCPR" class="filled-in boxNo" />
                                    <span class="textYes">Yes</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="noCPR" class="filled-in boxno" />
                                    <span class="textNo">No</span>
                                </label>
                            </p>
                        </div>
                        <br>
                        <div id="checkbox-label" class="row">
                            <p><i class="material-icons prefix">menu</i>Do you have references?
                                <label>
                                    <input type="checkbox" id="yesRef" class="filled-in boxNo" />
                                    <span class="textYes">Yes</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="noRef" class="filled-in boxno" />
                                    <span class="textNo">No</span>
                                </label>
                            </p>
                        </div>
                        <br>
                        <div id="checkbox-label" class="row">
                            <p><i class="material-icons prefix">pets</i>Are you comfortable with pets in the
                                home?
                                <label>
                                    <input type="checkbox" id="yesPets" class="filled-in boxNo" />
                                    <span class="textYes">Yes</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="noPets" class="filled-in boxno" />
                                    <span class="textNo">No</span>
                                </label>
                            </p>
                        </div>
                        <br>
                        <div id="checkbox-label" class="row">
                            <p><i class="material-icons prefix">directions_car</i>Do you have you own means of
                                transportation?
                                <label>
                                    <input type="checkbox" id="yesTrans" class="filled-in boxNo" />
                                    <span class="textYes">Yes</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="noTrans" class="filled-in boxno" />
                                    <span class="textNo">No</span>
                                </label>
                            </p>
                        </div>
                        <div class="col s12">
                            <input id="picSitter" type="text" placeholder="Image URL">
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">comment</i>
                            <textarea id="textarea1" class="materialize-textarea" id="commentSitter"></textarea>
                            <label id="form-label" for="textarea1">Add a comment </label>
                        </div>
                        <div class="input-field col s12">
                            <select multiple class="selectedStuff" id="day">
                                <option value="" disabled selected>Choose Your Days</option>
                                <option value="1">Monday</option>
                                <option value="2">Tuesday</option>
                                <option value="3">Wednesday</option>
                                <option value="4">Thursday</option>
                                <option value="5">Friday</option>
                                <option value="6">Saturday</option>
                                <option value="7">Sunday</option>
                            </select>
                        </div>
                        <!-- SUBMIT -->
                        <button class="btn waves-effect waves-light" data-target="modal2" class="btn modal-trigger" id="sitter-submit">Submit Form <i
                                class="material-icons right">send</i></button>
                    </div>
                </form>

            </content>
        </div>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Thanks for signing up as a sitter! 
                </h4> <hr>
                <p>Families from your area will be in touch!</p>
                <div id="returnHome">
                        <button onclick="window.location.href = '/'">Home</button>
                </div>
                <div class="modal-footer">
                    <a id="cancel-modal" href="" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //single choice Parent day
    $(document).ready(function () {
        $('select').formSelect();
    });
    var $zipCode = $("#zipCode");
    var $daySelectedParent = $("#daySelectedParent");
    var $parentGetsitterBtn = $("#parent-submit");

    // Get references to sitter-flow page elements
    //var $sitterSubmit = $("#sitterSubmit");
    var $firstNameSitter = $("#firstNameSitter");
    var $lastNameSitter = $("#lastNameSitter");
    var $emailSitter = $("#emailSitter");
    var $passwordSitter = $("#passwordSitter");
    var $picSitter = $("#picSitter");
    var $zipCodeSitter = $("#zipCodeSitter");
    var cpr;
    var refs;
    var pets;
    var transportation;
    var $commentSitter = $("#commentSitter");
    // var $daySelectedSitter = $("#daySelectedSitter");

    function validate() {
        if (document.getElementById('yesPets').checked) {
            pets = true;
        } else {
            pets = false
        }
        if (document.getElementById('yesCPR').checked) {
            cpr = true;
        } else {
            cpr = false
        }
        if (document.getElementById('yesRef').checked) {
            refs = true;
        } else {
            refs = false
        }
        if (document.getElementById('yesTrans').checked) {
            transportation = true;
        } else {
            tansportation = false
        }
    }

    $("#sitter-submit").on('click', function (event) {
        event.preventDefault();
        validate();
        var values = $('.selectedStuff').val()
        console.log(values)
        var newSitter = {
            "firstName": $firstNameSitter.val().trim(),
            "lastName": $lastNameSitter.val().trim(),
            "email": $emailSitter.val().trim(),
            "password": $passwordSitter.val().trim(),
            "pic": $picSitter.val().trim(),
            "knowsCPR": cpr,
            "petsOK": pets,
            "hasReferences": refs,
            "hasTransportation": transportation,
            "comments": $commentSitter.val(),
            "zipCode": parseInt($zipCodeSitter.val().trim()),
            "daySelected": values
        };
        console.log(newSitter)
        $.post("/api/sitters", newSitter)
        .done(function (data) {
            console.log(data)
        });

    $(document).ready(function() {
        $(".modal").modal();
        //modalPop = function() {
        //  $("#modal1").modal("open");
        };
    });
</script>