<!-- Babysitter's Form -->
<div class="container">
    <div class="row">
        <div class="col s3">

        </div>
        <div id="content" class="col s6">
            <content>
                <h3 class="center">Babysitter's Form</h3>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate" id="firstNameSitter">
                            <label id="form-label" for="icon_prefix">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate" id="lastNameSitter">
                            <label id="form-label" for="icon_prefix">Last Name</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">email</i>
                                <input id="email" type="email" class="validate" id="emailSitter">
                                <label id="form-label" for="email">Email</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">folder_special</i>
                                <input id="icon_password" type="password" class="validate" id="passwordSitter">
                                <label id="form-label" for="icon_password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i id="camicon" class="material-icons prefix">add_a_photo</i>
                                        <textarea id="textarea1" class="materialize-textarea" id="picSitter"></textarea>
                                        <label id="photo-label" for="textarea1">Photo Link</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">more</i>
                                <input id="icon_prefix" type="text" class="validate" id="zipCodeSitter">
                                <label id="form-label" for="icon_prefix">Enter Your Zip Code</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <p><i class="material-icons prefix">local_hospital</i>Do you have your CPR
                                certification?
                                <label>
                                    <input type="checkbox" id="yes" id="cprYes" class="filled-in boxNo" />
                                    <span class="textYes">Yes</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="no" class="filled-in boxno" />
                                    <span class="textNo">No</span>
                                </label>
                            </p>
                        </div>
                        <br>
                        <div class="row">
                            <p><i class="material-icons prefix">menu</i>Do you have references?
                                <label>
                                    <input type="checkbox" id="yes" id="referencesYes" class="filled-in boxNo" />
                                    <span class="textYes">Yes</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="no" class="filled-in boxno" />
                                    <span class="textNo">No</span>
                                </label>
                            </p>
                        </div>
                        <br>
                        <div class="row">
                            <p><i class="material-icons prefix">pets</i>Are you comfortable with pets in the
                                home?
                                <label>
                                    <input type="checkbox" id="yes" id="petsYes" class="filled-in boxNo" />
                                    <span class="textYes">Yes</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="no" class="filled-in boxno" />
                                    <span class="textNo">No</span>
                                </label>
                            </p>
                        </div>
                        <br>
                        <div class="row">
                            <p><i class="material-icons prefix">directions_car</i>Do you have you own means of
                                transportation?
                                <label>
                                    <input type="checkbox" id="yes" id="carYes" class="filled-in boxNo" />
                                    <span class="textYes">Yes</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="no" class="filled-in boxno" />
                                    <span class="textNo">No</span>
                                </label>
                            </p>
                        </div>
                </form>
                <div class="input-field col s12">
                    <i class="material-icons prefix">comment</i>
                    <textarea id="textarea1" class="materialize-textarea" id="commentSitter"></textarea>
                    <label id="form-label" for="textarea1">Add a comment </label>
                </div>
        </div>
        </form>
        <img src="./assets/img/jude-beck-552276-unsplash.jpg" alt="" class="responsive-img z-depth-5" alt="">
        <!-- SUBMIT -->
        <button id="sitter-submit">Submit Form</button>
        </content>
    </div>
    <div class="col s3">

    </div>
</div>
