body {
  background: rgb(117, 170, 177);
  font-family: Baloo Paaji;
  
}

main {
  margin: 0px 0px 0px 0px;
}
h1 {
  letter-spacing: 4px;
  text-align: center;
  color: rgb(255, 208, 0);
  font-family: Concert One;
  text-shadow: 2px 2px 2px white,
               4px 4px 2px black;
  font-size: 160px;
  margin: 100px 0px 0px 0px;
}
h3 {
  margin: 50px 0px 80px 0px;
  font-family: Concert One; 
  color: orange;
}
#content {
  background: rgb(253, 238, 152);
  margin: 60px 20px 0px 20px;
  padding: 0px 40px 280px 40px;
  width: 100%;
}

/* p {
  margin: 0px 40px
} */

.col.s6 {
  padding: 0px 40px;
}

#user-form {
  padding: 40px 0px 0px 0px;
}

/* icon */
.fa-baby-carriage {
 color: rgb(255, 196, 0);
 margin: 40px 0px 0px 50px;
}

nav {
  background: rgb(252, 194, 34);
}

footer {
  background: rgb(83, 119, 124);
  color: white;
}

.brand-logo {
  margin: 0px 0px 0px 60px;
}
/* Icons */
i.material-icons-prefix {
  margin: 20px 0px 0px -35px;
}
#i-comment {
  margin: 40px 0px 0px 20px;
}
.fa-times {
  color: red;
}

#sitterPage-legend {
  background: white;
  width: 200px;
  margin: 0px 0px 0px -120px;
  padding: 10px;
  background-color: orange;
 
}

#parent-submit, #sitter-submit {
  margin: 100px 0px 0px 350px;

}

#checkbox-label {
  margin: 0px 0px 0px 10px;
}

label {
  color: black;
}
#camicon {
  margin: 24px 0px 0px 40px;
}
.checks {
  margin: 5px;
}
#modal1 {
  background: rgb(253, 238, 152);
}
#form1 {
  padding: 2%;
  float: left;
  margin-top: 1%;
  background: rgb(117, 170, 177);
  color: #343434;
}
#parBtnM {
  background:  rgb(117, 170, 177)!important;
  border-color: rgb(117, 170, 177)!important;
}
#form2 {
  padding: 2%;
  float: left;
  margin-top: 1%;
  background:  rgb(117, 170, 177);
  margin-left: 8%;
  color: #343434;
} 
#sitBtnM {
  background:  rgb(117, 170, 177)!important;
  border-color: rgb(117, 170, 177)!important;

} 
#cancel-modal {
  margin-bottom: 2%;
  background:  rgb(117, 170, 177);
}
.modal-footer {
  background:  rgb(253, 238, 152)!important;
}
#m1t {
  text-align: center;
}
#m1p {
  font-size-adjust: 20px;
}
#parent-submit {
  padding: 2.2%;
  align-self: center;
  margin-top: 1%;
  background:  rgb(117, 170, 177);
  color: #343434;
  font-size-adjust: 20px;
}
#sitter-submit {
  padding-bottom: 2.2%;
  align-self: center;
  margin-top: 8%;
  background:  rgb(117, 170, 177);
  color: #343434;
  font-size-adjust: 20px;
}

 

