body {
  background: rgb(117, 170, 177);
  font-family: Baloo Paaji;
  height: 100%;
}
main {
  margin: 0px 0px 0px 0px;
}
h1 {
  letter-spacing: 4px;
  text-align: center;
  color: rgb(255, 208, 0);
  font-family: Concert One;
  text-shadow: 2px 2px 2px white,
               4px 4px 2px black;
  font-size: 160px;
  margin: 100px 0px 0px 0px;
}
h3 {
  margin: 50px 0px 80px 0px;
  font-family: Concert One; 
  color: orange;
}
#content {
  background: rgb(253, 238, 152);
  margin-top: 60px;
  padding: 0 6% 26% 6%;
  width: 100%; 
  height: 90%;
}
.font {
  font-family: Oswald;
  font-size: 17px;
}
.col.s6, .col.s12 {
  padding: 0px 40px;
}
/* Icons */
i.material-icons-prefix {
  margin: 20px 0px 0px -35px;
}
#i-comment {
  margin: 40px 0px 0px 20px;
}
.fa-times {
  color: red;
}
.fa-baby-carriage {
 color: rgb(255, 196, 0);
 margin: 40px 0px 0px 50px;
}

nav {
  background: rgb(252, 194, 34);
}
footer {
  background: rgb(83, 119, 124);
  color: white;
  /* position: absolute;
  bottom:0px */
}
.brand-logo {
  margin: 0px 0px 0px 60px;
}

#checkbox-label {
  margin: 0px 0px 0px 10px;
}
label {
  color: black;

}
.checks {
  margin: 5px;
}
